:root {
    --toolbar-height: 30px;
    --menu-header-height: 30px;
    --background-color: #f7ebd7;
    --text-color: #4f32b5;
}

textarea:focus, input:focus{
    outline: none;
}

body {
    font: 15px monospace;
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
    font-weight: bold;
}

a {
    color: var(--text-color);
}

#toolbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: var(--toolbar-height);
    background: var(--background-color);
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border-bottom: 1px solid var(--text-color);
}

#toolbar button {
    font-size: 20px;
    width: 30px;
    border: none;
    background: transparent;
}

#toolbar button:enabled {
    cursor: pointer;
}

#toolbar button:enabled:hover {
    background: #00000022;
}

#address-bar {
    flex-grow: 1;
    width: 50%;
    border: none;
    text-align: center;
    background: transparent;
    color: var(--text-color);
    font-weight: bold;
}

#content {
    position: absolute;
    top: calc(var(--toolbar-height) + 1px);
    padding: 10px 0;
    width: 100vw;
    height: calc(100vh - var(--toolbar-height) - 21px);
    overflow: scroll;
}

.item {
    white-space: nowrap;
}

.item * {
    display: inline-block;
}

.item .icon {
    font-size: 20px;
    width: 40px;
    text-align: center;
}

#content pre {
    white-space: pre-wrap;
    padding: 0 10px;
}

#content img {
    max-width: 100vw;
}

#content .search {
    display: flex;
}

#content .search input {
    flex-grow: 1;
    margin: 0 10px;
    max-width: 500px;
}

#bookmarks-menu {
    display: none;
    position: absolute;
    top: calc(var(--toolbar-height) + 1px);
    right: 0;
    height: calc(100vh - var(--toolbar-height) - var(--menu-header-height) - 1px);
    background: var(--background-color);
    border-left: 1px solid var(--text-color);
    min-width: 40vw;
    max-width: 90vw;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: var(--menu-header-height);
}

#bookmarks-menu button {
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#bookmarks-menu button:hover {
    background: #00000022;
}

#bookmarks-menu .header {
    display: flex;
    align-items: center;
    position: fixed;
    top: calc(var(--toolbar-height));
    height: var(--menu-header-height);
    width: 100%;
    background: var(--background-color);
    border-bottom: 1px solid var(--text-color);
}

#bookmarks-menu h3 {
    margin: 5px;
}

#bookmarks-menu .bookmark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}

#bookmarks-menu .bookmark:nth-child(odd) {
    background: #00000011;
}

#bookmarks-menu .bookmark .home-icon {
    font-size: 20px;
    margin-left: 5px;
}

#bookmarks-menu .bookmark .button-box {
    margin-left: 10px;
    opacity: 0;
    white-space: nowrap;
}

#bookmarks-menu .bookmark:hover .button-box {
    opacity: 1;
}
