textarea:focus, input:focus{
    outline: none;
}

body {
  font: 15px monospace;
  margin: none;
}

#toolbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 30px;
    background: #ccc;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border-bottom: 1px solid #aaa;
}

#toolbar button {
    font-size: 20px;
    width: 30px;
    border: none;
}

#toolbar button:enabled:hover {
    background: #aaa;
}

#address-bar {
    flex-grow: 1;
    width: 50%;
    border: none;
    text-align: center;
}

#content {
    margin-top: 40px;
}

.item {
    white-space: nowrap;
}

.item * {
    display: inline-block;
}

.item .icon {
    font-size: 20px;
    width: 40px;
    text-align: center;
}
